.idea
target
cmake_install.cmake
createType
kevscript-parser
CMakeFiles
*.a
/.cproject
/.project
/Makefile
*.so
install_manifest.txt
/main
*.log
/tester/
/download/
/bin/
/boost_1_53_0_GNU_4_8_2/
/Third_Parties/
/thirdparties/
/build/
*.DS_Store
/Debug/
/Release/
*.o
*.marks
Makefile
*.internal
*.includecache
run_tests
cppunit-report.xml
*.iml
lib.json
*.class
