/.idea/
/CMakeFiles/
/*.a
/.cproject
/.project
/Makefile
/*.so
/CMakeCache.txt
/cmake_install.cmake
/main
/*.log
/tester/
/thirdparty/
/download/
/bin/
/boost_1_53_0_GNU_4_8_2/
/Third_Parties/
/thirdparties/
/build/
*.DS_Store
/Debug/
*.txt
